@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
/*inicio*/
header {
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: auto;
    border-bottom: 2px solid white;
    box-shadow: inset 0 0 10px #05ad52, 0 0 40px #05ad52;
}
.div-img-logo img {
    margin-top: 0;
    height: 6rem;
    width: 15rem;
}
.nav{
    transform: translateX(6rem);
    position: relative;
    margin-top: 1.5rem;
}
.nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none; 
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: aliceblue;
    font-family: 'Rethink Sans';
}
.nav ul li a:hover{
    cursor: pointer;
    color: #05ad52;
}
.idoma{
    transform: translateX(5rem);
    margin-top: 2.2rem;
    position: relative;
}
.idoma i {
    font-size:2rem;
}
.idoma i:hover{
    cursor: pointer;
    color: #05ad52;
}
.inicio {
    height: 85vh;
    display: flex;
    justify-content: space-around;
}

.div-foto {
    margin-top: 2rem;
    width: 50%; /* Ancho ajustado */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: auto;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
}

.foto-perfil {
    border: 4px double ;
    opacity: 100%;
    position: relative;
    border: none;
    width: 100%; /* Ajusta el ancho máximo */
    height: 100%; 
    animation: aparecer 1.5s;
}
@keyframes aparecer {
    100% {
        opacity: 0; /* Desaparece en el lado derecho */
    }
}
.precentacion {
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Alinea los elementos al inicio del eje transversal */
    height: 15%;
    width: 50%; /* Ancho ajustado */
    text-align: center;
    padding: 2rem;
}

.precentacion h1 {
    text-align: start;
    font-size: 3.8rem;
    font-family: 'Rethink Sans';
    margin: 0;
}

.precentacion h1 span {
    text-align: start;
    font-family: 'Rethink Sans';
    color: aliceblue;
    text-shadow: 0 0 10px #05ad52, 0 0 20px #05ad52, 0 0 40px #05ad52, 0 0 60px #05ad52;
}

.precentacion p {
    font-family: 'Rethink Sans';
    font-size: 1.5rem;
    width: 90%;
}

.div-button{
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #05ad52;
    background-color: black;
    color: #05ad52;
}
.div-button i {
    font-size: 2.2rem;
}
.div-button:hover{
    background-color:#05ad52 ;
    color: white;
    border: 1px solid white;
}
/*skills*/
.skills{
    background:linear-gradient(rgba(0, 0, 0, 0.7),#05ad52), url(B31.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: #05ad52;
}
.skills i{
    opacity: 0;
    font-size: 9rem;
}
.skills i {
    opacity: 0;
    transform: translateY(20px); /* Desplazar hacia abajo */
    transition: opacity 1s ease, transform 1s ease;
}
.skills .aparecer {
    opacity: 1;
    transform: translateY(0); 
}
.works {
    background:linear-gradient(rgba(0, 0, 0, 0.7),#05ad52), url(B32.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    overflow: hidden;
}
.works2 {
    background:linear-gradient(rgba(0, 0, 0, 0.7),#05ad52), url(B33.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    overflow: hidden;
}
.works-tittle{
    opacity: 0;
    text-align: center;
    font-size: 6rem;
    font-family: 'Rethink Sans';
    color: #05ad52;

}
.works-tittle .aparecer{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 5s ease-in-out; 
}
.galeria {
    margin: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}
.elementos{
    opacity: 0;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 10%;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.elementos:hover{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #05ad52;
}
.elementos:hover .description{
    opacity: 1;
}
.elementos .description {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color de fondo y la opacidad según tus preferencias */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
.elementos img{
    width: 100%;
    height: 100%;
}
.elementos .description p{
    max-width: 80%;
    text-align: center;
}
.animation{
    display: block;
    height: 500px;
    width: 100%;
}
.precentacion2 {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto; /* Ancho ajustado */
    text-align: start;
    padding: 5rem;
}
.precentacion2 h1 {
    opacity: 0;
    margin: 0;
    color: #05ad52;
    font-size: 3.8rem;
    transition: opacity 3s ease; 
}

.precentacion2 h1 span {
    text-align: start;
    font-family: 'Rethink Sans';
    color: rgb(0, 0, 0);
}

.precentacion2 p {
    font-family: 'Rethink Sans';
    font-size: 1.2rem;
    width: 70%;
    color: rgb(0, 0, 0);
}
.div-button2{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div-button2 button{
    margin-left: 3.2rem;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #05ad52;
    background-color: black;
    color: #05ad52;
}
.div-button2 button:hover{
    background-color:#05ad52 ;
    color: white;
    border: 1px solid white;
}

/* Nuevos estilos para scroll horizontal */
.formacion-titulo {
    margin-top: 6rem;
    margin-bottom: 6rem;
    position: relative;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 500px; /* Ajusta la altura según tus necesidades */
}

.formacion-titulo img {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.formacion-titulo img.active {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-icons {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
}

.footer-icons::before,
.footer-icons::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%; 
    height: 1px; 
    background-color: #05ad52;
}

.footer-icons i {
    font-size: 2.2rem;
}

.footer-icons::before {
    left: 0;
}

.footer-icons::after {
    right: 0;
}

.text-footer {
    display: flex;
    justify-content: center;
}

.text-footer img {
    width: 18rem;
}

.contacto-ubicacion {
    display: flex;
    flex-direction: row;/* Cambiado a row para alinear los div uno al lado del otro */
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contacto h3 {
    transform: translateY(2rem);
    margin: 0;
    font-size: 2rem;
}
.div-saludo {
    width: 50%; /* Ancho ajustado */
    display: flex;
    justify-content: center;
    position: relative;
    height: 50%;
}
.foto-saludo {
    height: 30rem;
    width: auto;
}


form {
    margin-top: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #05ad52;
    outline: none;
    box-shadow: 0 0 5px rgba(5, 173, 82, 0.3);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #05ad52;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #049b48;
}

footer p {
    margin: 0 0 0 0.2;
    text-align: center;
}

#map {
    border-radius: 10px;
    height: 50%;
    width: 50%; /* Ajusta el ancho al contenedor padre */
}

.ubicacion {
    width: 50%; /* Ajusta el ancho para que los divs estén lado a lado */
    display: flex; /* Asegura que el mapa ocupe todo el espacio del div */
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}